html 
  include blogs/partials/head.pug 

  body 

    header  
      include blogs/partials/nav.pug
    
    div(class="not-found content") 
      h3= "404 - Opps! sorry page not found"

    include blogs/partials/footer.pug