html 
  include partials/head.pug 

  body 

    header  
      include partials/nav.pug
    
    div(class="not-found content") 
      h3= "404 - Opps! sorry page not found"

    include partials/footer.pug